language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - nightly

before_install:
  - composer self-update
  - if [[ ${TRAVIS_PHP_VERSION:0:2} == "5." ]]; then composer require --dev "phpunit/phpunit=5.7.*"; fi
  - composer install
